# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Node.js Ansible role.
#
# The Webarchitects Node.js Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Node.js Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Node.js Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Install Node.js using distro apt package
  block:

    - name: Run apt-cache show nodejs
      ansible.builtin.command:
        cmd: apt-cache show nodejs
      check_mode: false
      changed_when: false
      register: nodejs_apt_cache_show_nodejs

    - name: Debug nodejs_apt_cache_show_nodejs
      ansible.builtin.debug:
        var: nodejs_apt_cache_show_nodejs
      tags:
        - debug

    - name: Set a fact for the results of apt-cache show nodejs
      ansible.builtin.set_fact:
        nodejs_apt_cache_show: "{{ nodejs_apt_cache_show_nodejs.stdout | community.general.jc('apt_cache_show') }}"

    - name: Debug nodejs_apt_cache_show
      ansible.builtin.debug:
        var: nodejs_apt_cache_show
      tags:
        - debug

    - name: Nodesource nodejs apt package absent
      ansible.builtin.apt:
        pkg:
          - nodejs
        update_cache: true
        state: absent
      when:
        - yarn_apt_cache_show[0].maintainer is defined
        - yarn_apt_cache_show[0].maintainer == yarn_maintainer.nodesource

    - name: Nodesource apt files and binary node and associated symlinks absent
      ansible.builtin.file:
        path: "{{ nodejs_path }}"
        state: absent
      loop:
        - /etc/apt/preferences.d/node.pref
        - /etc/apt/sources.list.d/node.sources
        - /usr/local/bin/corepack
        - /usr/local/bin/node
        - /usr/local/bin/nodejs
        - /usr/local/bin/npm
        - /usr/local/bin/npx
        - /usr/share/keyrings/nodesource.gpg
      loop_control:
        loop_var: nodejs_path
        label: "{{ nodejs_path | ansible.builtin.basename }}"

    - name: Distro nodejs packages present
      ansible.builtin.apt:
        pkg:
          - nodejs
          - npm
        update_cache: true
        state: present

  tags:
    - nodejs
...
