# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Node.js Ansible role.
#
# The Webarchitects Node.js Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Node.js Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Node.js Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Skip the tasks in this role as nodejs is false
  ansible.builtin.debug:
    msg: "The nodejs variable need to be true for the tasks in this role to run."
  when: not nodejs | ansible.builtin.bool
  tags:
    - nodejs

- name: Install and upgrade Node.js
  block:

    - name: Variables checked using the argument spec
      ansible.builtin.include_tasks: verify.yml
      when:
        - nodejs_verify is ansible.builtin.defined
        - nodejs_verify | ansible.builtin.bool
      tags:
        - nodejs_verify

    - name: Binary install variables checked
      ansible.builtin.assert:
        that: >-
          (nodejs_version == "latest") or
          (nodejs_version is regex ('^latest-v[0-9]{1,2}[.]x$')) or
          (nodejs_version is regex ('^[0-9]{1,2}[.][0-9]{1,2}[.][0-9]{1,2}$'))
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"
      when: nodejs_install == "binary"

    - name: Nodesource install variables checked
      ansible.builtin.assert:
        that:
          - nodejs_version is regex ('^[0-9]{2}$')
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"
      when: nodejs_install == "nodesource"

    - name: Include apt role local fact tasks if variables are not ansible.builtin.defined
      ansible.builtin.include_role:
        name: apt
        tasks_from: local_facts.yml
      when: >-
        (ansible_facts.ansible_local.bash.path is not ansible.builtin.defined) or
        (ansible_facts.ansible_local.dpkg.arch is not ansible.builtin.defined) or
        (ansible_facts.ansible_local.gpg.version is not ansible.builtin.defined)

    - name: Include Node.js nodesource install tasks
      ansible.builtin.include_tasks: nodesource.yml
      when: nodejs_install == "nodesource"

    - name: Include Node.js binary install tasks
      ansible.builtin.include_tasks: binary.yml
      when: nodejs_install == "binary"

    - name: Include Node.js distro install tasks
      ansible.builtin.include_tasks: distro.yml
      when: nodejs_install == "distro"

  when: nodejs | ansible.builtin.bool
  tags:
    - nodejs
...
