# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Node.js Ansible role.
#
# The Webarchitects Node.js Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Node.js Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Node.js Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Install Node.js using nodesource apt package
  block:

    - name: Run apt-cache show nodejs
      ansible.builtin.command:
        cmd: apt-cache show nodejs
      check_mode: false
      changed_when: false
      register: nodejs_apt_cache_show_nodejs

    - name: Debug nodejs_apt_cache_show_nodejs
      ansible.builtin.debug:
        var: nodejs_apt_cache_show_nodejs
        verbosity: "{% if (ansible_check_mode | ansible.builtin.bool) or (ansible_diff_mode | ansible.builtin.bool) %}2{% else %}3{% endif %}"
      tags:
        - debug

    - name: Set a fact for the results of apt-cache show nodejs
      ansible.builtin.set_fact:
        nodejs_apt_cache_show: "{{ nodejs_apt_cache_show_nodejs.stdout | community.general.jc('apt_cache_show') }}"

    - name: Debug nodejs_apt_cache_show
      ansible.builtin.debug:
        var: nodejs_apt_cache_show
        verbosity: "{% if (ansible_check_mode | ansible.builtin.bool) or (ansible_diff_mode | ansible.builtin.bool) %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debian nodejs apt package absent
      ansible.builtin.apt:
        pkg:
          - nodejs
        update_cache: true
        state: absent
      when:
        - yarn_apt_cache_show[0].maintainer is defined
        - yarn_apt_cache_show[0].maintainer == yarn_maintainer.debian

    - name: Include APT tasks
      ansible.builtin.include_tasks: apt.yml
      tags:
        - nodejs_apt

    - name: Binary node and associated symlinks absent from /usr/local/bin
      ansible.builtin.file:
        path: "{{ nodejs_path }}"
        state: absent
      loop:
        - /usr/local/bin/corepack
        - /usr/local/bin/node
        - /usr/local/bin/nodejs
        - /usr/local/bin/npm
        - /usr/local/bin/npx
      loop_control:
        loop_var: nodejs_path
        label: "{{ nodejs_path | ansible.builtin.basename }}"

    - name: Check if Node.js is already installed
      ansible.builtin.stat:
        path: /usr/bin/node
      register: nodejs_path_check

    - name: Check version of Node.js
      block:

        - name: Check the version of Node.js installed
          ansible.builtin.command:
            cmd: /usr/bin/node --version
          check_mode: false
          register: nodejs_installed_check
          changed_when: false

        - name: Set a variable for the installed version of Node.js
          ansible.builtin.set_fact:
            nodejs_installed: >-
                              {{- nodejs_installed_check.stdout
                              | ansible.builtin.regex_replace('^v', '')
                              | ansible.builtin.regex_replace('\\.(.*)$')
                              | ansible.builtin.trim
                              | ansible.builtin.int -}}

        - name: Print the installed and required versions of Node.js
          ansible.builtin.debug:
            msg: "nodejs installed is {{ nodejs_installed }} and required is {{ nodejs_version }}"
            verbosity: 1
          tags:
            - debug

        - name: Remove Node.js if the installed version is newer than the required version
          ansible.builtin.apt:
            pkg:
              - nodejs
            autoclean: true
            autoremove: true
            state: absent
          when: (nodejs_installed | ansible.builtin.int) > (nodejs_version | ansible.builtin.int)

      when: nodejs_path_check.stat.exists | ansible.builtin.bool

    - name: Node.js package present  # noqa package-latest
      ansible.builtin.apt:
        pkg:
          - nodejs
        state: latest
        update_cache: true

  tags:
    - nodejs
...
