# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Node.js Ansible role.
#
# The Webarchitects Node.js Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Node.js Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Node.js Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Verify NodeJS variables
  block:

    - name: Debug the hostvars variable names that start with nodejs_
      ansible.builtin.debug:
        var: nodejsvarnames
        verbosity: "{% if ansible_check_mode | bool %}3{% else %}4{% endif %}"

    - name: Debug the hostvars variable names that start with nodejs_
      ansible.builtin.debug:
        var: nodejshostvars
        verbosity: "{% if ansible_check_mode | bool %}3{% else %}4{% endif %}"

    - name: Set a fact for the argument spec and internal argument spec
      ansible.builtin.set_fact:
        nodejs_argument_spec: "{{ (lookup('ansible.builtin.file', 'meta/argument_specs.yml') | from_yaml) }}"
        nodejs_internal_argument_spec: "{{ (lookup('ansible.builtin.file', 'meta/internal_argument_specs.yml') | from_yaml) }}"

    - name: Set a fact for the combined argument spec and internal argument spec
      ansible.builtin.set_fact:
        nodejs_combined_argument_spec: "{{ nodejs_argument_spec | ansible.builtin.combine(nodejs_internal_argument_spec, recursive=true) }}"

    - name: Check nodejs_ variables using the combined argument spec
      ansible.builtin.validate_argument_spec:
        argument_spec: "{{ nodejs_combined_argument_spec['argument_specs']['main']['options'] }}"
        provided_arguments: "{{ nodejshostvars }}"

  when:
    - nodejs_verify is defined
    - nodejs_verify | bool
  tags:
    - nodejs
    - nodejs_verify
...
